@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: theme('colors.blue.50');
      --background-secondary: theme('colors.lightblue.900');
    
      --accent-dark: theme('colors.fuchsia.900');
      --accent-medium: theme('colors.fuchsia.700');
      --accent-light: theme('colors.fuchsia.500');
      
      --primary-dark: theme('colors.blue.800');
      --primary-medium: theme('colors.blue.400');
      --primary-light: theme('colors.blue.300');
    }
    
    [data-theme='dark'] {
      --background: theme('colors.lightblue.900');
      --background-secondary: theme('colors.blue.50');
    
      --accent-dark: theme('colors.fuchsia.900');
      --accent-medium: theme('colors.fuchsia.700');
      --accent-light: theme('colors.fuchsia.500');
    
      --primary-dark: theme('colors.blue.600');
      --primary-medium: theme('colors.blue.400');
      --primary-light: theme('colors.blue.200');
    }